<td class="col-md-6 offset-md-3">
  <h2> Update Contact </h2>
  <form (ngSubmit) = "onSubmit()">
    <table class="content-table">
      <tr>
      <td class="first_child"><label> First Name</label></td>
        <td>
      <input type="text" class ="form-control" id = "firstName" placeholder="John/Jane"
             [(ngModel)] = "contact.firstName" name = "firstName">
        </td>
      </tr>
      <tr>
      <td class="first_child"><label> Last Name</label> </td>
        <td>
      <input type="text" class ="form-control" id = "lastName" placeholder="Doe"
             [(ngModel)] = "contact.lastName" name = "lastName">
        </td>
      <tr>
      <td class="first_child"><label> Code Name</label></td>
      <td>
          <input type="text" class ="form-control" id = "codeName" placeholder="Inspector Gadget"
          [(ngModel)] = "contact.codeName" name = "codeName">
      </td>
      </tr>
        <tr>
          <td class="first_child"><label> Phone Number  </label></td>
          <td>
              <input type="text" class ="form-control" id = "phoneNumber" placeholder="E.g. +372 53355203"
              [(ngModel)] = "contact.phoneNumber" name = "phoneNumber">
          </td>
        </tr>
    </table>
    <button class = "submitButton" type ="submit">Submit</button>

  </form>
