<h2> Special Agents List</h2>
<table class="content-table">
  <thead>
  <tr>
    <th> First Name </th>
    <th> Last Name </th>
    <th> Code name </th>
    <th> Phone Number </th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let contact of contacts;" >
    <td> {{ contact.firstName }} </td>
    <td> {{ contact.lastName }} </td>
    <td class="blurred"><span> Redacted </span></td>
    <td> {{ contact.phoneNumber }} </td>
    <td>
      <div><button (click)="detailedContact(contact.id)" class="detailButton list"> Details </button></div>
    </td>
    <td>
      <div><button (click)="updateContact(contact.id)" class="updateButton list"> Update </button></div>
    </td>
  </tr>
  </tbody>
</table>
