<div class="container" *ngFor = "let contact of contacts;">
  <div class="card">

    <div class="front side">
      <h1 class="logo">{{contact.firstName}} {{contact.lastName}}</h1>
    </div>

    <div class="back side">
      <h3 class="name">{{contact.firstName}} {{contact.lastName}}</h3>
      <div>Special Agent</div>
      <div class="info">
        <p><span class="property">Email: </span>{{contact.firstName}}.{{contact.lastName}}@smit.ee</p>
        <p><span class="property">Phone: </span>{{contact.phoneNumber}}</p>
        <p (mousedown)="changeText=true" (mouseup)="changeText=false">
          <span class="property">Code Name: </span>
          <span *ngIf="!changeText">Click And Hold</span>
          <span *ngIf="changeText">{{contact.codeName}}</span>
        </p>
      </div>
    </div>

  </div>
</div>
