<meta name="viewport" content="width=device-width, initial-scale=1">
<nav>

  <a routerLink="contact-list" routerLinkActive="active" class="nav-link">Contact List</a>
  <a routerLink="contact-form" routerLinkActive="active" class="nav-link">Contact Form</a>
  <div class="searchbar">
       <input type="text" placeholder="Search all contacts" [(ngModel)]="searchTerm" (change)="search()">
       <button (click)="search()" class="search-button">Search</button>
  </div>
</nav>

<main>

  <div class="container">
     <router-outlet></router-outlet>
  </div>

</main>

<footer class="footer">

  <div class="container">
    <span>Ergo Kirt</span>
  </div>

</footer>
