/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.min.css";*/
*{box-sizing: border-box}
html {
  height: 100%;
}
nav {
  overflow: hidden;
  background-color: #333;
}

nav a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  /*padding: 15px 44.312px;*/
  padding: 15px 6.9238%;
  text-decoration: none;
}

nav a:hover{
  background-color: red;
}
.searchbar{
  float: right;
}

/*body {*/
/*  background-image: radial-gradient(whitesmoke, black);*/
/*  margin: 0 auto;*/
/*  padding: 2.rem;*/
/*  font-family: "Special Elite";*/
/*  color: #333;*/
/*  display: grid;*/
/*  grid-template-rows: 2.9rem auto 2rem;*/
/*}*/
body {
  background-image: radial-gradient(whitesmoke, black);
  margin: 0 auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
  color: #333;
  min-width: 50rem;
  max-width: 40rem;
  min-height: 95.7vh;
  display: grid;
  grid-template-rows: 2.9rem auto 2rem;
}

.content-table {

  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;

}
.first_child{
  text-align: right}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: whitesmoke;
}
.content-table tbody tr:nth-of-type(odd) {
  background-color: ghostwhite;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}













button {
  --green: #1BFD9C;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}
.search-button{
  color: var(--green);
}


button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
}

.list{
  font-size: 10px;
  padding: 0.4em 2em;
}

.footer{
  display: block;
  color: white;
  background-color: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  /*padding: 1rem;*/
  width: 100%;
}
